.NovadoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;

}


.firstDiv {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--Gray-700, #0D0D0D);
    justify-content: center;
    align-items: center;
}


.secDiv {
    display: flex;
    width: 100%;
    position: relative;
    height: 600px;
    background: var(--Gray-600, #1A1A1A);
    justify-content: center;
}

.inputContainer {
    display: flex;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.inputContainer input[type="text"] {
    width: 598px;
    height: 54px;
    border: none;
    outline: none;
    border: 1px solid var(--Gray-700, #0D0D0D);
    padding: 16px;
    border-radius: 8px;
    background: var(--Gray-500, #262626);
    font-size: 16px;
}

.inputContainer input[type="text"]::placeholder {
    color: var(--Gray-300, #808080);
    font-family: "Noto Sans Georgian";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.inputContainer button {
    display: flex;
    border: none;
    gap: 8px;
    align-items: center;
    width: 130px;
    height: 54px;
    justify-content: center;
    padding: 16px;
    background: var(--Blue-Dark, #1E6F9F);
    border-radius: 8px;
    cursor: pointer;

}

.inputContainer button:active{
        background: var(--Blue-Dark, #3884af);
}


.ListsContaner {
    display: flex;
    flex-direction: column;
    max-width: 736px;
    width: 100%;
    height: 309px;

    position: absolute;
    top: 91px;
    gap: 24px;
}

.tasksContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    align-items: center;
}

.tasksNumbers {
    display: flex;
    align-items: center;
    gap: 8px;
    
}


.taskParagraph {
    color: var(--Blue, #4EA8DE);
    font-family: "Noto Sans Georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.taskParagraphSec {
    color: var(--Purple, #8284FA);
    font-family: "Noto Sans Georgian";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tasksNumbersCount{
    display: flex;
    padding: 2px 8px;
    border-radius: 999px;
    background: var(--Gray-400, #333);
    justify-content: center;
    align-items: center;

    color: var(--Gray-200, #D9D9D9);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.taskAparanceContainer {
    display: flex;

    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 266px;
    border-radius: 8px;
    border-top: 1px solid var(--Grey-400, #333);
}

.tasksClipboard {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

.tasksNotification {
    display: flex;
    justify-content: center;

    width: 100%;
    flex-direction: column;
    align-items: center;

    
}

.tasksNotificationText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasksNotificationText :nth-child(1){
    color: var(--Gray-300, #808080);
    text-align: center;
    font-family: "Noto Sans Georgian";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.tasksNotificationText :nth-child(2){
    max-width: 550px;
    width: 100%;
    display: block;
    align-self: stretch;
    text-align: center;
     color: var(--Gray-300, #808080);
    font-family: "Noto Sans Georgian";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  
}


.ulTaskList{
    display: flex;
    flex-direction: column;
    gap:8px;
    width: 100%;
    list-style: none;
}

.ulTaskList li {
    border-radius: 8px;
    border: 1px solid var(--Gray-400, #333);
    background: var(--Gray-500, #262626);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.liDivContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
     height: 100%;
    

}

.liDivContainer span{
    display: flex;
    align-items: flex-start;
   
}

.radioContainer{
    display: flex;
    gap:12px;
    align-items: center;
}


.liDivContainer img{
    cursor: pointer;
}

.liDivContainer img:active{
    transform: scale(0.9);
    
}




.radioContainer input[type="checkbox"]{

  appearance: none;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #4ea8de;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 

}


.radioContainer input[type="checkbox"]:checked {
  background-color: #4ea8de;
  border-color: #4ea8de;
}


.radioContainer input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-weight: bold;
}


.finishedText{
    
text-decoration: line-through;
  color: var(--Gray-300, #808080);

}
    
