.active{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.notActive{
    cursor:not-allowed;
      width: 30px;
    height: 30px;
}


.tooltipWrapper {
  position: relative;
  display: inline-block;
}


.tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0.9;
  transition: opacity 0.2s ease;
}