

$primaryColor:#5E81F4;
$primaryhoverColor:#2e49b8ea;
$lightInfoColor:#5E81f419;
$bachgroundPrimaryColor:#F6F6F6;
$secendaryTextColor:#8181A4;
$whitee:#fff;
$primeryText:#1C1D21;
$outline:#ECECF2;
$addingColor:rgba(15, 143, 15, 0.37);


/* MP3 MUSIC Colors */


