.aboutus{
    background-color: rgba(255, 255, 0, 0.582);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    align-content: center;
    padding-top: 70px;
    height: 100vh;
    flex-direction: column;

}


.homePage{
    display: flex;
   
    gap:50px;
    background-color: bisque;
    
    border-radius: 15px;
    padding: 5px;
    color: black;
}
